streamlit-mic-recorder

wave
transformers
pydub
huggingface-hub==0.23.4
langchain_huggingface
langchain
langchain-core
faiss-cpu
sentence-transformers
sounddevice==0.4.7
soundfile==0.12.1
torch==2.3.1
matplotlib
matplotlib-inline
langchain
langchain-huggingface
langchain-community
numpy

